<div class="container-flex" id="config-section">
  <form>
    <div class="row">
      <div class="col">
        <div class="config-subpart conf-tab-container">
          <div class="row">
            <div class="col-3 conf-tab-menu">
              <div class="list-group">
                <a class="list-group-item text-center" [ngClass]="activeTab === 'configuration' ? 'active' : ''" (click)="navTab('configuration')">
                  <i class="bi bi-gear"></i><br/>General
                </a>
                <a class="list-group-item text-center" [ngClass]="activeTab === 'behaviour' ? 'active' : ''" (click)="navTab('behaviour')">
                  <i class="bi bi-boxes"></i><br/>Behaviour
                </a>
                <a class="list-group-item text-center" [ngClass]="activeTab === 'appearance' ? 'active' : ''" (click)="navTab('appearance')">
                  <i class="bi bi-palette-fill"></i><br/>Appearance
                </a>
              </div>
            </div>
            <div class="col-9 conf-tab">
              <!-- Configuration section -->
              <div class="conf-tab-content scrollbar" [ngClass]="activeTab === 'configuration' ? 'active' : ''">
                <div class="row mt-2">
                  <div class="col-12">
                    <h5>Configuration URL</h5>
                  </div>
                  <div class="col-2 offset-1">
                    <label class="form-check-label" style="line-height: 38px; vertical-align: middle;">
                      URL :
                    </label>
                  </div>
                  <div class="col-8">
                    <div class="form-group">
                      <div>
                        <div class="input-group">
                          <input type="text" class="form-control" name="configURL" id="configURL" aria-label="configuration url" aria-describedby="configuration-url"
                                 placeholder="https://..." (keyup)="checkConfigUrl()" [(ngModel)]="configUrl">
                          <div class="input-group-append">
                            <span class="input-group-text" id="configuration-url">
                              <i class="bi bi-circle" *ngIf="urlCheckState === ''"></i>
                              <img src="assets/images/loader.gif" alt="Wait..." style="height: 36px; width: 36px" *ngIf="urlCheckState === 'pending'">
                              <i class="bi bi-check-circle text-success" *ngIf="urlCheckState === 'success'"></i>
                              <i class="bi bi-exclamation-circle text-warning" *ngIf="urlCheckState === 'warning'"></i>
                              <i class="bi bi-x-circle text-danger" *ngIf="urlCheckState === 'error'"></i>
                            </span>
                          </div>
                        </div>
                        <small class="form-text text-danger" [innerHTML]="confUrlErrorMessage" *ngIf="confUrlErrorMessage"></small>
                      </div>
                      <div class="conf-tips-info">This URL will provide the environments configuration and list. Without that, this extension is useless!</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h5>AWS</h5>
                  </div>
                  <div class="col-2 offset-1">
                    <label class="form-check-label"
                           style="line-height: 38px; vertical-align: middle;" for="awsRole">
                      Role :
                    </label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input class="form-control" name="awsRole" id="awsRole" type="text" (keyup)="checkAwsRole()" [(ngModel)]="this.userConfiguration.options.aws.role">
                      <small class="form-text text-danger" [innerHTML]="awsRoleErrorMessage" *ngIf="awsRoleErrorMessage"></small>
                    </div>
                    <div class="conf-tips-info">This role will be used to switch on the AWS Console for an environment.</div>
                  </div>
                </div>
              </div>
              <!-- Behaviour section -->
              <div class="conf-tab-content scrollbar" [ngClass]="activeTab === 'behaviour' ? 'active' : ''">
                <div class="row mt-2">
                  <div class="col-12">
                    <h5>Links</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 offset-1">
                    <label class="form-check-label"
                           style="line-height: 38px; vertical-align: middle;" for="cmdbFileType">
                      CMDB file type :
                    </label>
                  </div>
                  <div class="col-6">
                    <div>
                      <select class="form-select" aria-label="Type file type" name="cmdbFileType" id="cmdbFileType" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.cmdbFileType">
                        <option value=".env" selected>.env</option>
                        <option value=".properties">.properties</option>
                        <option value=".sh">.sh</option>
                        <option value=".yml">.yml</option>
                        <option value=".xml">.xml</option>
                      </select>
                    </div>
                    <div class="conf-tips-info">Choose your preferred file type associated with CMDB links.</div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-4 offset-1">
                      <label class="form-check-label">
                        Public links
                      </label>
                  </div>
                  <div class="col-6">
                    <div>
                      <div  class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="showExternalLinks" id="showExternalLinks" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.externalLinks">
                      </div>
                    </div>
                    <div class="conf-tips-info">Display internal (*.internal.* URLs) and public links.</div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <h5>Search</h5>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-4 offset-1">
                    <label class="form-check-label">
                      Extended search
                    </label>
                  </div>
                  <div class="col-6">
                    <div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="useExtendedSearch" id="useExtendedSearch" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.extendedSearch">
                      </div>
                    </div>
                    <div class="conf-tips-info">
                      Extended search will match all environments by matching the nearest results with input sequence by keeping characters order ("ABC" will match "l<b><u>a</u></b> <b><u>b</u></b>anque postale finan<b><u>c</u></b>ement")
                    </div>
                  </div>
                </div>
              </div>
              <!-- Appearance section -->
              <div class="conf-tab-content scrollbar" [ngClass]="activeTab === 'appearance' ? 'active' : ''">
                <div class="row mt-2">
                  <div class="col-12">
                    <h5>Environment</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11 offset-1">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayLogo" id="displayLogo" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.logo">
                      <label class="form-check-label" for="displayLogo">Client logo</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayClientName" id="displayClientName" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.clientName">
                      <label class="form-check-label" for="displayClientName">(Name)</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayClientDomain" id="displayClientDomain" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.clientDomain">
                      <label class="form-check-label" for="displayClientDomain">
                        <span class="badge badge-pill badge-light">Domain</span>
                      </label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayVersion" id="displayVersion" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.version">
                      <label class="form-check-label" for="displayVersion">
                        <cite class="small-info">Odigo version</cite>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h5>Links</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11 offset-1">
                    <div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="showOnlyLinksIcons" id="showOnlyLinksIcons" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.onlyIcons">
                        <label class="form-check-label" for="showOnlyLinksIcons">
                          Horizontal icon bar
                        </label>
                      </div>
                    </div>
                    <div class="conf-tips-info">Only icons will be displayed for each links.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 offset-1">
                    <div>
                      <label class="form-check-label"
                             style="line-height: 38px; vertical-align: middle;">
                        Show components :
                      </label>
                    </div>
                    <div class="conf-tips-info">Choose which components you wish to show per environments.</div>
                  </div>
                  <div class="col-6 mt-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayAWSConsole" id="displayAWSConsole" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.aws">
                      <label class="form-check-label" for="displayAWSConsole">AWS Console</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayConfiguration" id="displayConfiguration" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.cmdb">
                      <label class="form-check-label" for="displayConfiguration">Configuration (CMDB)</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayConsole" id="displayConsole" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.console">
                      <label class="form-check-label" for="displayConsole">Console</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayHealthCheck" id="displayHealthCheck" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.healthCheck">
                      <label class="form-check-label" for="displayHealthCheck">Health check</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayPortal" id="displayPortal" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.portal">
                      <label class="form-check-label" for="displayPortal">Portal</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayPIF" id="displayPIF" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.pif">
                      <label class="form-check-label" for="displayPIF">Private PaaS (PIF)</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayPEF" id="displayPEF" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.pef">
                      <label class="form-check-label" for="displayPEF">Public PaaS (PEF)</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displayRouting" id="displayRouting" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.routing">
                      <label class="form-check-label" for="displayRouting">Routing</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="displaySsh" id="displaySsh" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.options.display.ssh">
                      <label class="form-check-label" for="displaySsh">SSH</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h5>Theme</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11 offset-1">
                    <div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="themeSelector" id="themeSelector" (change)="applyTheme()" [(ngModel)]="this.userConfiguration.options.darkTheme">
                        <label class="form-check-label" for="themeSelector">
                          Dark theme
                        </label>
                      </div>
                    </div>
                    <div class="conf-tips-info">A dark theme from the dark side. <img alt="" src="assets/images/dark-vador.png" class="dark-vador-img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
