@font-face {
  font-family: "Nexa Regular";
  src: url("../fonts/NexaRegular.woff2") format("woff2"), url("../fonts/NexaRegular.woff") format("woff");
}

.small-info {
  text-align: right;
  width: 100%;
  font-size: small;
  font-style: italic;
  color: var(--small-info-color);
}

.badge-light {
  color: black;
  background-color: var(--bs-secondary);
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.bg-aws {
  background-color: var(--bg-aws);
  color: #2a3045;
}

.aws-logo {
  height: 16px;
  width: 16px;
}

.badge {
  margin-right: 5px;
}

/*********** Scrollbar ************/
.scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: var(--color-accent) #F5F5F5;
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-accent);
}

.badge-env-info {
  background-color: var(--bg-badge-env-info);
  color: #2a3045;
  font-style: italic;
  font-weight: initial;
}
