.theme-light {
  --backgroud-color: #ffffff;
  --top-logo-url: url(../images/odigo-dark.png);
  --top-logo-font-color: #2a3045;
  --background-logo-url: url(../images/body-bg-light.png);
  --background-logo-pos-x: 20px;
  --background-logo-pos-y: 20px;
  --card-bg-color: rgba(230, 231, 232, 0.7);
  --color-primary: #2a3045;
  --color-secondary: #e79dbc;
  /*--color-accent: #ff3466;*/
  --color-accent: purple;
  --font-color: #2a3045;
  --font-color-placeholder: rgb(42, 48, 69, 0.5);
  --input-bg-color: rgba(230, 231, 232, 0.7);
  --input-bg-color-focus: rgba(230, 231, 232, 1);
  --small-info-color: #2a3045;
  --bs-success: #14d9b5;
  --bs-success-rgb: 20, 217, 81;
  --bs-info: #009cde;
  --bs-info-rgb: 0, 156, 222;
  --bs-warning: #ffb200;
  --bs-warning-rgb: 255, 178, 0;
  --bs-danger: #8c365d;
  --bs-danger-rgb: 140, 54, 93;
  --bs-secondary: #e6e7e8;
  --bs-secondary-rgb: 230, 231, 232;
  --form-switch-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2842, 48, 69, 1%29'/%3e%3c/svg%3e");
  --form-switch-background-image-focus: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2842, 48, 69, 1%29'/%3e%3c/svg%3e");
  --form-switch-background-image-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.theme-dark {
  --backgroud-color: #2a3045;
  --top-logo-url: url(../images/odigo-white.png);
  --top-logo-font-color: #fffff;
  --background-logo-url: url(../images/body-bg-dark.png);
  --background-logo-pos-x: 20px;
  --background-logo-pos-y: 20px;
  --card-bg-color: rgb(46, 66, 82, 0.7);
  --color-primary: #ffffff;
  --color-secondary: #e6e7e8;
  /*--color-accent: #ff3466;*/
  --color-accent: purple;
  --font-color: #ffffff;
  --font-color-placeholder: rgb(255, 255, 255, 0.5);
  --input-bg-color: rgb(46, 66, 82, 0.7);
  --input-bg-color-focus: rgb(46, 66, 82, 1);
  --small-info-color: #fff;
  --bs-success: #14d9b5;
  --bs-success-rgb: 20, 217, 81;
  --bs-info: #009cde;
  --bs-info-rgb: 0, 156, 222;
  --bs-warning: #ffb200;
  --bs-warning-rgb: 255, 178, 0;
  --bs-danger: #db284f;
  --bs-danger-rgb: 219, 40, 79;
  --bs-secondary: #e6e7e8;
  --bs-secondary-rgb: 230, 231, 232;
  --form-switch-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2842, 48, 69, 1%29'/%3e%3c/svg%3e");
  --form-switch-background-image-focus: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2842, 48, 69, 1%29'/%3e%3c/svg%3e");
  --form-switch-background-image-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
