<div class="conf-tab-content scrollbar">
  <div class="row mt-2">
    <div class="col-12">
      <h5>Links</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-1">
      <label class="form-check-label"
             style="line-height: 38px; vertical-align: middle;" for="cmdbFileType">
        CMDB file type :
      </label>
    </div>
    <div class="col-6">
      <div>
        <select class="form-select" aria-label="Type file type" name="cmdbFileType" id="cmdbFileType" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.userOptions.cmdbFileType">
          <option value=".env" selected>.env</option>
          <option value=".properties">.properties</option>
          <option value=".sh">.sh</option>
          <option value=".yml">.yml</option>
          <option value=".xml">.xml</option>
        </select>
      </div>
      <div class="conf-tips-info">Choose your preferred file type associated with CMDB links.</div>
    </div>
  </div>
  <hr/>
  <div class="row mt-3">
    <div class="col-12">
      <h5>Search</h5>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-4 offset-1">
      <label class="form-check-label">
        Extended search
      </label>
    </div>
    <div class="col-6">
      <div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="useExtendedSearch" id="useExtendedSearch" (change)="saveConfig()" [(ngModel)]="this.userConfiguration.userOptions.extendedSearch">
        </div>
      </div>
      <div class="conf-tips-info">
        Extended search will match all environments by matching the nearest results with input sequence by keeping characters order ("ABC" will match "l<b><u>a</u></b> <b><u>b</u></b>anque postale finan<b><u>c</u></b>ement")
      </div>
    </div>
  </div>
</div>
