<div class="container-flex">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-img-top"><span style="font-size: 2em; font-weight: bold; text-shadow: 0px 0px 15px rgb(255 255 255 / 78%);-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;">8<sup>th</sup></span> March</div>
        <div class="card-body scrollbar">
          <h5 class="card-title" [innerHTML]="content.title"></h5>
          <p>The 8th march was the International Women Day (<a (click)="openLink('https://www.internationalwomensday.com/')">#IWD2022</a>) and the time to honor those women visionaries, innovators, entrepreneurs, mentors & advocates across the world driving new ways of thinking & doing. And also, top of all, all
            Odigo's women employees who help and lead us every day. We're celebrating women forging change and we're working to <a (click)="openLink('https://www.internationalwomensday.com/theme/')">#BreakTheBias</a> !</p>
          <div class="card-text mt-3">
            <b>v{{appVersion}}</b>
            <div *ngIf="content.features && content.features.length > 0" class="mt-2">
              <i class="bi bi-star"></i> New features :
              <ul>
                <li *ngFor="let feature of content.features">
                  <span [innerHTML]="feature.shortDesc"></span>
                  <br/>
                  <p [innerHTML]="feature.longDesc" *ngIf="feature.longDesc"></p>
                </li>
              </ul>
            </div>
            <div *ngIf="content.changes && content.changes.length > 0" class="mt-2">
              <i class="bi bi-arrow-left-right"></i> Changes :
              <ul>
                <li *ngFor="let change of content.changes">
                  <span [innerHTML]="change.shortDesc"></span>
                  <br/>
                  <p [innerHTML]="change.longDesc" *ngIf="change.longDesc"></p>
                </li>
              </ul>
            </div>
            <div *ngIf="content.bugfixes && content.bugfixes.length > 0" class="mt-2">
              <i class="bi bi-bug"></i> Bug fix :
              <ul>
                <li *ngFor="let bugfix of content.bugfixes">
                  <span [innerHTML]="bugfix.desc"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
