.card-img-top {
  background-image: url("../../../../../assets/images/release-banner.gif");
  height: 136px;
  background-size: cover;
  background-position-y: -190px;
}

/*------------------- Overrides ---------------------*/
.card {
  height: 490px;
}

.card-body {
  background-color: var(--input-bg-color-focus);
}

.card-body p {
  padding-left: 20px;
  text-align: justify;
  font-size: 0.8em;
}

.card-footer {
  background-color: var(--input-bg-color-focus);
}

a {
  text-decoration: underline !important;
}
