.card-img-top {
  background-image: url("https://64.media.tumblr.com/6cd0b9bfe2fa86e4e71647b3d726ea72/tumblr_n1b44d6pxC1sj5h4oo1_400.gifv");
  height: 180px;
  background-position-y: -100px;
  background-size: cover;
}
/*------------------- Overrides ---------------------*/
.card {
  height: 490px;
}

.card-body {
  max-height: 260px;
  background-color: var(--input-bg-color-focus);
}

.card-body p {
  padding-left: 20px;
  text-align: justify;
  font-size: 0.8em;
}

.card-footer {
  background-color: var(--input-bg-color-focus);
}

a {
  text-decoration: underline !important;
}
