.card-img-top {
  background-image: url("https://i.gifer.com/UJr.gif");
  height: 180px;
  /*background-size: cover;*/
  background-position-y: -40px;
}

/*------------------- Overrides ---------------------*/
.card {
  height: 490px;
}

.card-body {
  max-height: 260px;
  background-color: var(--input-bg-color-focus);
}

.card-body p {
  padding-left: 20px;
  text-align: justify;
  font-size: 0.8em;
}

.card-footer {
  background-color: var(--input-bg-color-focus);
}

a {
  text-decoration: underline !important;
}
