#logo {
  background-image: var(--top-logo-url);
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--top-logo-font-color);
  height: 50px;
  width: 130px;
  padding-left: 93px;
  font-size: 1em;
  line-height: 85px;
  font-weight: 600;
}
